<!DOCTYPE html>
<html>
    <head>
        <title>User {{ user_info.hostname }} | Zirconium</title>
        {% include "logger/style.html" %}
    </head>
    <body>
        {% include "logger/navbar.html" %}

        <div class="main-container">
            <div class="logs-pane">
                <h1>Event History ({{ event_count }})</h1>
                {% for event in events %}
                    {% if event.type == "CLICK" %}
                        <div class="log-item-container click-event">
                            <div class="log-item event-colour">
                                <p><strong>CLICK</strong></p>
                                <p class="details">{{ event.action_desc }} - {{ event.action_id }}</p>
                                <p class="timestamp">{{ event.timestamp }}</p>
                            </div>
                        </div>

                    {% elif event.type == "SESSION" %}
                        <div class="log-item-container session-event ">
                            <div type="button" class="collapsible log-item event-colour">
                                <p><strong>SESSION</strong></p>
                                <p class="details">{{ event.session_type }} in {{ event.gamemode }}</p>
                                <p class="timestamp">{{ event.timestamp }}</p>
                            </div>
                            <div class="collapsible-content">
                                <table class="info-table" style="width:100%">
                                    <tr>
                                        <th>Action</th>
                                        <th>Mode</th>
                                        <th>Time Elapsed</th>
                                        <th>Scores</th>
                                        <th>Bounces</th>
                                        <th>Serves Missed</th>
                                    </tr>
                                    <tr>
                                        <td>{{ event.session_type }}</td>
                                        <td>{{ event.gamemode }}</td>
                                        <td>{{ event.elapsed }}</td>
                                        <td><span style="color:yellow;">{{ event.score1 }}</span> - <span style="color:limegreen">{{ event.score2 }}</span></td>
                                        <td>{{ event.bounces }}</td>
                                        <td>{{ event.misses }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    {% elif event.type == "ERROR" %}
                        <div class="log-item-container error-event">
                            <div type="button" class="collapsible log-item event-colour">
                                <p><strong>ERROR</strong></p>
                                <p class="details">{{ event.error_name }}</p>
                                <p class="timestamp">{{ event.timestamp }}</p>
                            </div>
                            <div class="collapsible-content">
                                <p>{{ event.error_string }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="info-pane">
                <h2>User Information</h1>
                <ul>
                    <li>Hostname: {{ user_info.hostname }}</li>
                    <li>First seen: {{ user_info.first_seen }}</li>
                </ul>
                <hr>
                <h2>Game Settings</h1>
                <table style="width:100%">
                    <tr>
                        <td>Resolution:</td>
                        <td colspan="2" style="color:#89929b">{{ settings.res }}</td>
                    </tr>
                    <tr>
                        <td>Music:</td>
                        <td colspan="2">{% if settings.mtog %}<span style="color:limegreen;">ON</span>{% else %}<span style="color:red;">OFF</span>{% endif %} / <span style="color:#89929b">{{ settings.mvol }}</span></td>
                    </tr>
                    <tr>
                        <td>Sound:</td>
                        <td colspan="2">{% if settings.stog %}<span style="color:limegreen;">ON</span>{% else %}<span style="color:red;">OFF</span>{% endif %} / <span style="color:#89929b">{{ settings.svol }}</td>
                    </tr>
                    <tr>
                        <td>Score goals:</td>
                        <td colspan="2" style="color:#89929b">{{ settings.cas_goal }} <span style="color:#ecf2f8">/</span> {{ settings.comp_goal }}</td>
                    </tr>
                    <tr>
                        <td>Ball speeds:</td>
                        <td colspan="2" style="color:#89929b">{{ settings.cas_speed }} <span style="color:#ecf2f8">/</span> {{ settings.comp_speed }}</td>
                    </tr>
                    <tr>
                        <td>Powerups:</td>
                        <td colspan="2" style="color:#89929b">{{ settings.powerups }}</td>
                    </tr>
                    <tr>
                        <td>AI difficulty:</td>
                        <td colspan="2" style="color:#89929b">{{ settings.ai_diff }}</td>
                    </tr>
                    <tr>
                        <td>Serve miss:</td>
                        <td colspan="2" style="color:#89929b">{{ settings.serve_miss }}</td>
                    </tr>
                    <tr>
                        <td>Ball speedup:</td>
                        <td colspan="2">{% if settings.ball_speedup %}<span style="color:limegreen;">ON</span>{% else %}<span style="color:red;">OFF</span>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Last updated:</td>
                        <td colspan="2" class="timestamp" style="float:none;">{{ settings.last_updated|date:'d/m/y H:i' }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
        </script>
    </body>
</html>