<!DOCTYPE html>
<html>
    <head>
        <title>User {{ user_info.hostname }} | Zirconium</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        {% include "logger/style.html" %}

        </style>
    </head>
    <body>
        {% include "logger/navbar.html" %}

        <div class="main-container">
            <div class="logs-pane">
                <h1>Event History ({{ event_count }})</h1>
                {% for event in events %}
                    {% if event.type == "CLICK" %}
                        <div class="log-item-container click-event">
                            <div class="log-item event-colour">
                                <p><strong>CLICK</strong></p>
                                <p class="details">{{ event.action_desc }} - {{ event.action_id }}</p>
                                <p class="timestamp">{{ event.timestamp }}</p>
                            </div>
                        </div>

                    {% elif event.type == "SESSION" %}
                        <div class="log-item-container session-event ">
                            <div type="button" class="collapsible log-item event-colour">
                                <p><strong>SESSION</strong></p>
                                <p class="details">{{ event.session_type }} in {{ event.gamemode }}</p>
                                <p class="timestamp">{{ event.timestamp }}</p>
                            </div>
                            <div class="collapsible-content">
                                <table class="info-table" style="width:100%">
                                    <tr>
                                        <th>Action</th>
                                        <th>Mode</th>
                                        <th>Time Elapsed</th>
                                        <th>Scores</th>
                                        <th>Bounces</th>
                                    </tr>
                                    <tr>
                                        <td>{{ event.session_type }}</td>
                                        <td>{{ event.gamemode }}</td>
                                        <td>{{ event.elapsed }}</td>
                                        <td><span style="color:yellow;">{{ event.score1 }}</span> - <span style="color:limegreen">{{ event.score2 }}</span></td>
                                        <td>{{ event.bounces }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    {% elif event.type == "ERROR" %}
                        <div class="log-item-container error-event">
                            <div type="button" class="collapsible log-item event-colour">
                                <p><strong>ERROR</strong></p>
                                <p class="details">Error</p>
                                <p class="timestamp">11:20:12 AEST</p>
                            </div>
                            <div class="collapsible-content">
                                <p>error error error error error error error error error error</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="info-pane">
                <h2>User Information</h1>
                <ul>
                    <li>Hostname: {{ user_info.hostname }}</li>
                    <li>First seen: {{ user_info.first_seen }}</li>
                </ul>
                <hr>
                <h2>Game Settings</h1>
                <ul>
                    <li>Resolution: </li>
                    <li>Music: </li>
                    <li>Sound: </li>
                    <li>Score goals: </li>
                    <li>Ball speeds: </li>
                    <li>Powerups: </li>
                    <li>AI difficulty: </li>
                    <li>Serve miss: </li>
                    <li>Ball speedup: </li>
                </ul>
            </div>
        </div>

        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
        </script>
    </body>
</html>